*{
    margin: 0px;
    padding: 0px; /*no spacing as default*/
}

@font-face {
    font-family: cute1;
    src: url(fonts/ReglisseFill-WyWzn.otf);
}

@font-face {
    font-family: cute2;
    src: url(fonts/Hug\ Me\ Tight\ -\ OTF.otf);
}


.navb{
    display: inline-flex;
    background-color: #D6BCBC;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    flex-wrap: nowrap;
}

.logo img{
    position: relative;
    width: 50px;
    border: 2px solid rgb(155, 123, 123);
    border-radius: 100%;
    left: 20px;
}

.links{
    position: relative;
    left: 17%;
    top: 2px;
}

.links p{
    position: relative;
    display: inline-flex;
    color: #916d6d;
    font-size: 30px;
    top: 5px;
}

.links a{
    display: inline-flex;
    background-color: #f1f1f1;
    color: #aa8989;
    border: 2px solid #aa8e8e;
    border-radius: 5px;
    text-wrap: wrap;
    padding: 10px;
    text-decoration: none;
    font-family: cute2;
    transition: color .2s ease-in-out;
}
.links a:hover{
    color: rgb(243, 235, 236);
    box-shadow: inset 200px 0 0 0 #c7a2a2;;
}

.music audio{
    position: relative;
    display: inline-flex;
    top: 13px;
    left: 85%;
    height: 30px;
}

.title{
    position: relative;
    font-family: cute1;
    color: #613F3F;
    display: inline;
}

.title p1{
    position: relative;
    color: #a08989;
    font-size: 25px;
    left: 3%;
}

.title p2{
    position: relative;
    color: #a08989;
    font-size: 25px;
    left: 5%;
}

.title h1{
    display: inline;
    position: relative;
    font-size: 50px;
    left: 4%;
    width: fit-content;
}

.text{ /*main text area format*/
    display: inline-flex;
    position: relative;
    left: 3.7%;
    width: 92%;
    font-family: cute2;
    color: #613F3F;
}

.text p{ /*text design and size*/
    background-color: #EDE1E1;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
    width: 100%;
    padding-bottom: 313px;
    line-height: 40px;
    text-wrap: wrap;
    word-wrap: break-word;
}

.foot{
    background-color: #D6BCBC;
    position: relative;
    top: 32px;
    width: 100%;
    height: 72px;
}

.foot p{
    position: relative;
    display: inline;
    font-family: cute2;
    color: #613F3F;
    left: 2%;
}

.foot img{
    position: relative;
    display: inline;
    width: 40px;
    height: 40px;
    top: 14px;
    left: 72%;
}