*{
    margin: 0px;
    padding: 0px; /*no spacing as default*/
}

@font-face {
    font-family: cute1;
    src: url(fonts/ReglisseFill-WyWzn.otf);
}

@font-face {
    font-family: cute2;
    src: url(fonts/Hug\ Me\ Tight\ -\ OTF.otf);
}


.navb{
    display: inline-flex;
    background-color: #D6BCBC;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    flex-wrap: nowrap;
}

.logo img{
    position: relative;
    width: 50px;
    border: 2px solid rgb(155, 123, 123);
    border-radius: 100%;
    left: 20px;
}

.links{
    position: relative;
    left: 17%;
    top: 2px;
}

.links p{
    position: relative;
    display: inline-flex;
    color: #916d6d;
    font-size: 30px;
    top: 5px;
}

.links a{
    display: inline-flex;
    background-color: #f1f1f1;
    color: #aa8989;
    border: 2px solid #aa8e8e;
    border-radius: 5px;
    text-wrap: wrap;
    padding: 10px;
    text-decoration: none;
    font-family: cute2;
    transition: color .2s ease-in-out;
}
.links a:hover{
    color: rgb(243, 235, 236);
    box-shadow: inset 200px 0 0 0 #c7a2a2;;
}

.music audio{
    position: relative;
    display: inline-flex;
    top: 13px;
    left: 85%;
    height: 30px;
}
.title{
    position: relative;
    font-family: cute1;
    color: #613F3F;
    display: inline;
}

.title p1{
    position: relative;
    color: #a08989;
    font-size: 25px;
    left: 3%;
}

.title p2{
    position: relative;
    color: #a08989;
    font-size: 25px;
    left: 5%;
}

.title h1{
    display: inline;
    position: relative;
    font-size: 50px;
    left: 4%;
    width: fit-content;
}

.main{ /*format main/general*/
    display: inline-flex;
    margin-left: 49.5px; /*move from left*/
}

.image img{ /*change image format*/
    position: relative;
    display: flex;
    border-radius: 5px;
}

.text{ /*general text design*/
    position: relative;
    flex-wrap: wrap;
    font-family: cute2;
    color: #613F3F;
}

.text p{ /*color, font, and spacing*/
    position: relative;
    background-color: #EDE1E1;
    border-radius: 5px;
    padding: 20px;
    line-height: 25px;
    width: 89%;
    left: 1%;
    height: fit-content;
}
.text2 p{ /*height of 2nd oaragraph box*/
    position: relative;
    height: fit-content;
    top: 10px;
    padding-bottom: 6.5%;
}

.bot p{ /*bottom paragraph design and formatting*/
    display: flex;
    position: relative;
    font-family: cute2;
    color: #613F3F;
    position: relative;
    background-color: #EDE1E1;
    border-radius: 5px;
    padding: 20px;
    line-height: 25px;
    width: 89.7%;
    left: 3.6%;
    height: fit-content;
    top: 8px;
}

.foot{
    background-color: #D6BCBC;
    position: relative;
    top: 32px;
    width: 100%;
    height: 137px;
}

.foot p{
    position: relative;
    font-family: cute2;
    color: #613F3F;
    top: 58px;
    margin-left: 50px;
}