/*for description of navbar and footer, refer to this page*/

*{
    margin: 0px;
    padding: 0px; /*no spacing as default*/
}

@font-face {
    font-family: cute1; /*title font*/
    src: url(fonts/ReglisseFill-WyWzn.otf);
}

@font-face {
    font-family: cute2; /*paragraph font*/
    src: url(fonts/Hug\ Me\ Tight\ -\ OTF.otf);
}
/*adding fonts^*/

.navb{ /*main navbar format*/
    display: inline-flex;
    background-color: #D6BCBC; /*background color*/
    width: 100%; /*fit to screen*/
    overflow: hidden;
    height: fit-content; /*fit content when squished*/
    flex-wrap: nowrap;
}

.logo img{
    position: relative;
    width: 50px; /*change logo size*/
    border: 2px solid rgb(155, 123, 123); /*give logo a border*/
    border-radius: 100%; /*makes border a circle*/
    left: 20px; /*change position of the logo*/
}

.links{ /*changes the position of the links*/
    position: relative;
    left: 17%;
    top: 2px;
}

.links p{ /*formats the links decoration*/
    position: relative;
    display: inline-flex;
    color: #916d6d;
    font-size: 30px;
    top: 5px;
}

.links a{ /*formats the links*/
    display: inline-flex;
    background-color: #f1f1f1; /*adds a background*/
    color: #aa8989;
    border: 2px solid #aa8e8e; /*border*/
    border-radius: 5px;
    text-wrap: wrap;
    padding: 10px;
    text-decoration: none; /*no underline*/
    font-family: cute2; /*changes font*/
    transition: color .2s ease-in-out; /*link hover transition time + how*/
}
.links a:hover{ /*link hover transition specifics*/
    color: rgb(243, 235, 236);
    box-shadow: inset 200px 0 0 0 #c7a2a2;;
}

.music audio{ /*music position*/
    position: relative;
    display: inline-flex;
    top: 13px;
    left: 85%;
    height: 30px;
}
.title{ /*title format*/
    position: relative;
    font-family: cute1;
    color: #613F3F;
    display: inline;
}

.title p1{
    position: relative;
    color: #a08989;
    font-size: 25px;
    left: 3%;
}

.title p2{
    position: relative;
    color: #a08989;
    font-size: 25px;
    left: 5%;
}
/*decoration ^*/
.title h1{ /*actual title*/
    display: inline;
    position: relative;
    font-size: 50px; /*large font*/
    left: 4%; /*change position*/
    width: fit-content;
}

.banner{
    position: relative;
    background-image: url(images/87e5a6a8d642772c37cb035b58e0668a.png); /*background of the banner*/
    height: fit-content;
    padding: 15px;
    width: 90.8%; /*not whole screen*/
    left: 48px; /*change position*/
    border-radius: 5px;
}
.banner p{ /*text in the banner*/
    position: relative;
    font-family: cute1;
    font-size: 45px;
    text-align: center; /*align the text to the middle*/
    color: #573030;
}

.main{ /*main content general format*/
    display: inline-flex; /*dislay as flex*/
    flex-direction: row;
    position: relative;
    margin-left: 48px; /*move from left*/
}

.left{ /*left format*/
    flex-direction: column;
    position: relative;
    background-color: #E3CFCF;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    top: 10px;
    display: inline-flex;
    flex-direction: column;
}
.left img{ /*formats the image*/
    position: relative;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    top: 5px;
    border: 2px solid #aa8c8c;
}
.left p{ /*adds text above the social media links*/
    font-family: cute2;
    color: #613F3F;
    background-color: #EDE1E1;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #aa8c8c;
}


.right{ /*formats right*/
    flex-wrap: wrap;
}
.right p{ /*formats text on the right*/
    background-color: #EDE1E1;
    position: relative;
    color: #613F3F;
    font-family: cute2;
    left: 1.1%;
    border-radius: 5px;
    padding: 20px;
    width: 91.7%;
    top: 10px;
    height: fit-content;
    word-spacing: 4px;
    line-height: 25px;
    text-align: justify;
}

.foot{ /*footer formatting*/
    background-color: #D6BCBC;
    position: relative;
    top: 32px;
    width: 100%; /*fit screen*/
    height: 80px; /*change height to fit screen (no bookmarks)*/
}

.foot p{ /*move text + design*/
    position: relative;
    font-family: cute2;
    color: #613F3F;
    top: 30px;
    margin-left: 50px;
}